<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
	
	<!-- 로그인 -->
	<resultMap id="memberResultMap" type="member">
		<result column="MEM_NO" property="memNo" />
		<result column="MEM_ID" property="memId" />
		<result column="MEM_PWD" property="memPwd" />
		<result column="MEM_NICKNAME" property="memNickname" />
		<result column="MEM_EMAIL" property="memEmail" />
		<result column="MEM_STATUS" property="memStatus" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="MODIFY_DATE" property="modifyDate" />
		<result column="DELETE_DATE" property="deleteDate" />
		<result column="MEM_PICTURE" property="memPicture" />
		<result column="MEM_GRADE_NUMBER" property="memGrade" />
		<result column="MEM_GRADE_NAME" property="memGradeName" />
		<result column="MEM_COUPON_COUNT" property="memCouponCount" />
		<result column="MEM_REWARD" property="memReward" />
	</resultMap>
	

	<select id="loginMember" parameterType="member" resultMap="memberResultMap">
		SELECT
		        MEM_NO
		       ,MEM_ID
		       ,MEM_PWD
		       ,MEM_NAME
		       ,MEM_NICKNAME
		       ,MEM_EMAIL
		       ,MEM_STATUS
		       ,ENROLL_DATE
		       ,MODIFY_DATE
		       ,DELETE_DATE
		       ,MEM_PICTURE
		       ,MEM_GRADE_NUMBER
		       ,MEM_GRADE_NAME
		       ,MEM_COUPON_COUNT
		       ,MEM_REWARD
		  FROM
		       TB_MEMBER
		  LEFT
		  JOIN 
		       (SELECT MEM_NO, CASE WHEN MEM_NO IN (1, 2) THEN 4
		               WHEN ACCUMULATED_REWARD <![CDATA[<]]> 1000 THEN 1
		               WHEN ACCUMULATED_REWARD <![CDATA[<]]> 3000 THEN 2
		                ELSE 3 END AS MEM_GRADE_NUMBER
		          FROM (SELECT *
		                  FROM (SELECT MEM_NO, NVL(SUM(REWARD_SCORE), 0) AS ACCUMULATED_REWARD
	                              FROM TB_REWARD
	                             RIGHT 
	                              JOIN 
	                              	   TB_MEMBER
	                             USING (MEM_NO)
	                             WHERE NVL(REWARD_SCORE, 0) >= 0
	                             GROUP BY MEM_NO))) 
		 USING (MEM_NO)
		  LEFT
		  JOIN 
		       TB_MEMBER_GRADE
		    ON 
		       MEM_GRADE_NUMBER = MEM_GRADE_NO
		  LEFT
		  JOIN (SELECT MEM_NO, SUM(REWARD_SCORE) AS MEM_REWARD
		                              FROM TB_REWARD
		                             GROUP BY MEM_NO)
		 USING (MEM_NO)
		  LEFT 
		  JOIN 
		       (SELECT MEM_NO, COUNT(COUPON_NO) AS MEM_COUPON_COUNT
		          FROM TB_MEMBER_COUPON
		          JOIN TB_COUPON
		         USING (COUPON_NO)
		         WHERE MEMBER_COUPON_STATUS = 'N'
		           AND COUPON_AVAIL = 'Y'
		         GROUP BY MEM_NO)
		 USING 
		       (MEM_NO)
		 WHERE
		       MEM_ID = #{ memId }
		   AND
		       MEM_PWD = #{ memPwd }
		   AND
		       MEM_STATUS = 'Y'		
	
	</select>
</mapper>