div {
	
	box-sizing: border-box;
}

#wrap_footer {
	width: 1200px;
	height: 190px;
	margin: auto;
}

#wrap_footer > div {
	width: 100%;
}

#footer {
	height: 100%;
}

#footer>div {
	height: 100%;
	float: left;
}

#footer_1 {
	width: 75%;
	font-family: 'IBM Plex Sans KR', sans-serif;
}

#footer_2 {
	width: 25%;
}

#footer1_1 {
	font-size: 17px;
}

#footer1_2 {
	font-size: 15px;
}

#footer_2_1 {
	height: 30%;
	margin-left: 40%;
	margin-top: 1%;
}

#footer_2_2 {
	height: 70%;
}

#footer_2_1 i, #footer_2_2 i {
	color: #ff9111;
}
