/*****************************************/
/* content 스타일 */
div {
	
	box-sizing: border-box;
}

#wrap_content {
	width: 1200px;
	height: 900px;
	margin: auto;
}

#wrap_content > div {
	width: 100%;
}

#content {
	height: 100%;
}

#content > div {
	height: 25%;
}

#content_1 > div {
	height: 100%;
	float: left;
}

#content1_1, #content1_3 {
	height: 100%;
	width: 30%;
}

#content1_2 {
	width: 40%;
	height: 100%;
	text-align: center;
}

#content1_2>img {
	height: 100%;
}

#arrowL {
	margin-left: 90%;
	margin-top: 25%;
}

/* Content_2, Content_3 영역 레시피 더보기 */
#content_2, #content_3 {
	width: 100%;
	box-sizing: border-box;
	margin: auto;
}

.more_content_area1 {
	height: 25%;
}

.more_content_title_a {
	width: 85%;
	height: 100%;
	float: left;
	padding-left: 1%;
	padding-top: 1%;
}

.more_content_title_a p {
	margin: 0px;
}

.more_content_title_b {
	width: 15%;
	height: 100%;
	float: right;
	padding-right: 5.5%;
	padding-top: 1%;
	text-align: right;
	cursor: pointer;
}

.more_content_title_b p {
	margin: 0px;
}

.more_content_area2 {
	height: 75%;
}

.more_content_area2 div {
	display: inline-block;
	width: 33%;
	height: 100%;
	float: right;
}

/* 이미지 영역 사이즈 조절 */
    .swiper {
        width: 1200px;
        height: 500px;
    }
​
    /* 이미지 사이즈 조절 */
    .swiper-slide>img {
        width : 100%;
        height : 100%;
    }
​
    /* 화살표 버튼색 변경 (기본색은 파란색) */
   div[class^=swiper-button] {
       color : white;
       /* display : none; */ /* 아니면 안보이게 숨기기도 가능 */
   }
