/*****************************************************/
/* 전체 래핑 div 세팅 */
#recipe-category-wrap {
    width: 1200px;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}

/* 테이블영역 div 세팅 */
  #category-toggle-menu{
      width: 100%;
height: 120px;
  }
  
  /* 더보기 영역 div 세팅 */
#category-toggle-msg {
    width: 100%;
    height: 30px;
}

/* 테이블영역 세팅 */
#recipe-category-table {
	width: 100%;
	height: 100%;
}

   /* h3요소 세팅 */
h3 {
    margin: 0px;
    display: inline-block;
}

/*****************************************************/
/* 테이블 내부 요소들 */
#recipe-category-table td {
    width: 20%;
    height: 50%;
    color : black;
}

/* 더보기 내부 요소들 */
#category-toggle-msg > h3 {
    font-size: 5px;
    color : black;
    display: inline-block;
    cursor: pointer;
}

/************************지울부분****************************/ 
td {
    background-color: aquamarine;
}
#category-toggle-msg {
    background-color: cornflowerblue;
}
#recipe-category-table{
    background-color: blue;
}