/* 기본 아우터 div 세팅 */
#recipe-sort-bar-wrap {
	width: 1200px;
	height: 50px;
	margin: auto;
	box-sizing: border-box;
	position: relative;
}

/* div요소 기본 세팅 */
#recipe-sort-bar-wrap div {
	box-sizing: border-box;
}

/* h3요소 기본세팅 */
#recipe-sort-bar-wrap h3[class='recipe-sort-by'] {
	margin : 0px;
	padding : 7%;
	font-size: 20px;
	display: inline-block;
}

/**********************************************************/
/* 메뉴바 내부 div 블록들 전체 세팅 */
#recipe-sort-bar-wrap > div {
	height: 100%;
	float: left;
	text-align: center;
}

/**********************************************************/
/* 아이콘이미지 div블록 세팅 */
#recipe-sort-bar-img {
	width: 4%;
}

/* 정렬기준 + 글쓰기 div 블록 세팅 */
div[class='recipe-sort-bar-menu'] {
	width: 15%;
}
div[class='recipe-sort-bar-menu']:hover {
	cursor: pointer;
	background-color: rgb(255, 243, 190);
}

/* 글쓰기 버튼 세팅 */
.recipe-sort-bar-menu > form > button {
	width: 100%;
	height: 100%;
	border: 0px;
	padding: 0px;
	background-color: transparent;
}

/* 검색 div 블록 세팅 */
#recipe-search-area {
	width: 21%;
	position: absolute;
	right : 0px;
}

/* 검색창 세팅 */
#recipe-keyword-search-box {
	width: 80%;
	height: 70%;
	box-sizing: border-box;
	border: 2px solid rgb(255, 145, 77);
	border-radius: 5px;
	position: absolute;
	top : 7px;
	right : 35px;
}

#recipe-keyword-search-box::placeholder {
	font-size: 1px;
	text-align: center;
	color: rgb(175, 175, 175);
}

#recipe-keyword-search-btn {
	font-size:20px;
	appearance: none;
	border: none;
       background-color: transparent;
	padding: 0px;
	padding-bottom: 2%;
	color: rgb(255, 145, 77);
	position: absolute;
	top : 15px;
	right : 10px;
}

/**********************************************/
	div {
		border: 1px solid black;
	}
<style>
	/* 기본 아우터 div 세팅 */
#recipe-sort-bar-wrap {
	width: 1200px;
	height: 50px;
	margin: auto;
	box-sizing: border-box;
	position: relative;
}

/* div요소 기본 세팅 */
#recipe-sort-bar-wrap div {
	box-sizing: border-box;
}

/* h3요소 기본세팅 */
#recipe-sort-bar-wrap h3[class='recipe-sort-by'] {
	margin : 0px;
	padding : 7%;
	font-size: 20px;
	display: inline-block;
}

/**********************************************************/
/* 메뉴바 내부 div 블록들 전체 세팅 */
#recipe-sort-bar-wrap > div {
	height: 100%;
	float: left;
	text-align: center;
}

/**********************************************************/
/* 아이콘이미지 div블록 세팅 */
#recipe-sort-bar-img {
	width: 4%;
}

/* 정렬기준 + 글쓰기 div 블록 세팅 */
div[class='recipe-sort-bar-menu'] {
	width: 15%;
}
div[class='recipe-sort-bar-menu']:hover {
	cursor: pointer;
	background-color: rgb(255, 243, 190);
}

/* 글쓰기 버튼 세팅 */
.recipe-sort-bar-menu > form > button {
	width: 100%;
	height: 100%;
	border: 0px;
	padding: 0px;
	background-color: transparent;
}

/* 검색 div 블록 세팅 */
#recipe-search-area {
	width: 21%;
	position: absolute;
	right : 0px;
}

/* 검색창 세팅 */
#recipe-keyword-search-box {
	width: 80%;
	height: 70%;
	box-sizing: border-box;
	border: 2px solid rgb(255, 145, 77);
	border-radius: 5px;
	position: absolute;
	top : 7px;
	right : 35px;
}

#recipe-keyword-search-box::placeholder {
	font-size: 1px;
	text-align: center;
	color: rgb(175, 175, 175);
}

#recipe-keyword-search-btn {
	font-size:20px;
	appearance: none;
	border: none;
       background-color: transparent;
	padding: 0px;
	padding-bottom: 2%;
	color: rgb(255, 145, 77);
	position: absolute;
	top : 15px;
	right : 10px;
}

/**********************************************/
div {
	border: 1px solid black;
}
