<meta charset="utf-8">
.sort {
	display: inline-block;
	padding-left: 10px;
	color: darkgray;
}
.table th:hover {
	cursor: pointer;
}
.asc::before {
	content: "\25B2";
}
.desc::before {
	content: "\25BC";
}
.modal .modal-title{
	text-align: center;
	font-weight: bold;
}
.modal .modal-content{
	background-color: rgb(255, 217, 64);
    padding: 5px 20px 30px 20px;
}
.modal .modal-body, .modal .modal-footer{
	background-color: white;
	padding:0;
}
.modal .modal-footer{
	height: 50px;
	border: 1px solid gray;
	justify-content: center;
}
.modal-table {
	width:100%;
	text-align: center;
}
.modal-table th {
	width: 170px;
}
.modal-table tr {
	height: 40px;
}
.modal textarea {
	width:100%;
	height: 200px;
	resize: none;
	text-align: center;
	border: none;
}
table td:nth-child(6){
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	max-width:130px;
}
.paging-area{
	padding-top: 65px;
	text-align: center;
}
.dm-status-N, .selectCount{
    color: red;
}
.dm-status-N::after {
	content:"대기";
}
.dm-status-Y {
    color: dodgerblue;
}
.dm-status-Y::after {
	content:"완료";
}