<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="reportMapper">

	<resultMap id="reportResultSet" type="report">
		<result column="REPORT_NO" property="reportNo" />
		<result column="RPT_DATE" property="rptDate" />
		<result column="RPT_CATEGORY_NAME" property="rptCategoryName" />
		<result column="RPT_CONTENT" property="rptContent" />
		<result column="RECIVE_REPORT" property="reciveReport" />
		<result column="SEND_REPORT" property="sendReport" />
		<result column="RPT_STATUS" property="rptStatus" />
		<result column="RECIPE_TITLE" property="recipeTitle" />
		<result column="REPLY_CONTENT" property="replyContent" />
	</resultMap>
	
	<select id="selectReportList" resultMap="reportResultSet">
		SELECT
                REPORT_NO,
                RPT_DATE,
                RPT_CATEGORY_NAME,
                RPT_CONTENT,
                M.MEM_ID AS RECIVE_REPORT,
                MM.MEM_ID AS SEND_REPORT,
                RPT_STATUS,
                R.RECIPE_TITLE,
                RP.REPLY_CONTENT
         FROM
         		TB_REPORT TR
         JOIN
         		TB_REPORT_CATEGORY TRC ON (TR.RPT_CATEGORY_NO = TRC.RPT_CATEGORY_NO)
         JOIN
         		TB_MEMBER M ON (M.MEM_NO = RECIVE_REPORT)
         JOIN
         		TB_MEMBER MM ON (MM.MEM_NO = SEND_REPORT)
		 JOIN 
		      	TB_RECIPE R ON (R.RECIPE_NO = TR.RPT_TARGET)
		 JOIN
		      	TB_REPLY RP ON (RP.REPLY_NO = TR.RPT_TARGET)
        ORDER
           BY 	REPORT_NO DESC
	</select>
	
	<select id="selectReportListCount" resultType="_int">
		SELECT
				COUNT(*)
		  FROM
		  		TB_REPORT
	</select>
	
	<select id="detailReportList" resultType="report">
		SELECT
				RPT_CATEGORY_NAME,
				MM.MEM_ID AS SEND_REPORT,
				M.MEM_ID AS RECIVE_REPORT,
				RECIPE_NO, RECIPE_TITLE,
				RPT_CONTENT
		  FROM
		  		TB_REPORT R               
		  JOIN
		  		TB_REPORT_CATEGORY USING(RPT_CATEGORY_NO)
		  JOIN
		  		TB_MEMBER M ON (M.MEM_NO = RECIVE_REPORT)
		  JOIN
		  		TB_MEMBER MM ON (MM.MEM_NO = SEND_REPORT)
		  JOIN
		  		TB_RECIPE ON (RPT_TARGET = RECIPE_NO)
		  WHERE
		  		REPORT_NO = #{ reportNo }
	</select>

</mapper>