button {
    background-color: rgb(88, 87, 87);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

div{
    box-sizing : border-box;
    border : none;
}

.container {
    padding: 100px 250px;
}

.success{
    border : none;
    display : flex;
    align-items: center;
    justify-content: center;
}