@charset "UTF-8";
<!-- 관리자 회원 정보 수정폼 memberUpdateFormManager.css -->
    h2{
        text-align: center;
    }
   
    .form-control{
        width : 300px;
    }
    
    #memUpdateWhyCon{
    	resize : none;
    	rows : 10;
    }
