div {
	box-sizing: border-box;

}

/*******************	Wrapping divs 세팅 *******************/
/* 전체 wrap */
#recipeMainViewWrap {
	width: 1200px;
	margin: auto;
}

/* 레시피글 디스플레이 영역 wrap */
#recipeThumnailWrap {
	width: 100%;
	height: 100%;
	padding: 35px 25px 50px 25px;
}

/******************* 레시피글 블록(단일 글) 세팅 *******************/
/* 레시피 글 별 전체 container */
#recipeMainViewWrap .thumbnail-contariner {
	width: 349px;
	height: 500px;
	display: inline-block;
	margin: 20px 15px 30px 15px;
	border: 1px solid black !important;
}

.send-detail-view:hover {
	cursor: pointer;
}

/* 상단 (썸네일 이미지) */
#recipeMainViewWrap .thumbnail-top {
	width: 100%;
	height: 347px;
}

#recipeMainViewWrap .thumbnail-top img {
	width:100%;
	height: 100%;
}

/* 하단 (제목 + 셰프이름 + 조회수/아이콘 + 좋아요개수/아이콘) */
#recipeMainViewWrap .thumbnail-bottom {
	width: 100%;
	height: 151px;
}

/* 쿼리스트링 넘길 RecipeNo 숨김처리 */
#SendDetailViewSelectedRecipeNo {
	display: none;
}

/* 하단 top */
#recipeMainViewWrap .thumbnail-bottom-inner1 {
	width: 100%;
	height: 65%;
}


/* 하단 bottom (조회수 + 좋아요수) */
#recipeMainViewWrap .thumbnail-bottom-inner2 {
	width: 100%;
	height: 35%;
}

#recipeMainViewWrap .thumbnail-bottom-inner2 div {
	height: 100%;
	float: left;
}

/* 쉐프 이름 */
#recipeMainViewWrap .thumbnail-left-bottom {
	width: 70%;
}

#recipeMainViewWrap .thumbnail-left-bottom-chef {
	width: 100%;
}

/* 조회수 + 좋아요 */
#recipeMainViewWrap .thumbnail-right-bottom {
	width: 30%;
}

#recipeMainViewWrap .thumbnail-right-bottom div {
	width: 100%;
	height: 50%;
}

#recipeMainViewWrap .thumbnail-right-bottom p {
	margin: 0px;
	display: inline-block;
	padding: 3px 0px 0px 10px;
}

#recipeMainViewWrap .thumbnail-right-bottom i {
	font-size: 20px;
	float: right;
	padding: 5px 10px 0px 0px;
}


/* 조회수 */
#recipeMainViewWrap .thumbnail-right-bottom-inner1 i {
	color: rgb(255, 145, 77);
}

/* 좋아요 */
#recipeMainViewWrap .thumbnail-right-bottom-inner2 i {
	color: red;
}