/**********************************************************
	wrap div + wrap내부 div 세팅
**********************************************************/
div {
	box-sizing: border-box;
}

/* 전체 div wrap */
#recipe-enroll-form-wrap {
	width: 1200px;
	box-sizing: border-box;
	margin: auto;
}
/*******************************************/
/* > 글쓰기 양식 form태그wrap */
#recipe-enrolling-form { 
	width: 100%;
	box-sizing: border-box;
	position: relative;
}

/*******************************************/
/* > > 상단바wrap div 세팅 */
#recipe-enroll-top-bar-wrap {
	width: 100%;
	height: 80px;
	margin: auto;
	box-sizing: border-box;
	/*지울부분*/
	background-color: aqua;
}

/* > >... 상단바 내부 div요소 default 세팅 */
#recipe-enroll-top-bar-wrap div {
	height: 100%;
	float: left;
}

/* > > 입력폼wrap div 세팅 */
#recipe-enroll-context-wrap {
	width: 100%;
	height: 2150px;
}

/* > >... 입력폼 내부 상단 div (썸네일 + 제목 + 재료입력) */
#cook-steps-basic-info {
	width: 100%;
	height: 35%;
}

/* > >... 입력폼 내부 중단 div (과정사진 + 제목 + 내용) */
#cookingInstructionContainer {
	width: 100%;
	height: 60%;
}

/* > >... 입력폼 내부 하단 div (submit + reset 버튼) */
#cook-steps-buttons {
	width: 100%;
	height: 5%;
}


/**********************************************************
	상단바 영역 (#recipe-enroll-top-bar-wrap 내부)
**********************************************************/
/* 1. 아이콘 이미지 세팅 */
#recipe-enroll-bar-img {
	width: 10%;
	padding: 18px 0px 0px 30px;
}

#recipe-enroll-bar-img > i {
	font-size: 45px;
	color: rgb(255, 145, 77);
}

/* 2. 카테고리 메뉴 세팅 */
#recipe-enroll-bar-menu {
	width: 75%;
}

/* select요소 */
#recipe-enroll-bar-inner {
	width: 45%;
	position: relative;
}

#recipe-enroll-bar-menu select {
	width: 90%;
	height: 60%;
	text-align: center;
	position: absolute;
	top: 16px;
}

#enroll-bar-inner-blank1 {
	width: 55%;
}

/* 3. 임시저장 버튼 세팅 */
#unrecipe-modal-request-div {
	width:15%;
}

#unrecipe-modal-request-div > button {
	width: 100%;
	height: 100%;
	font-size: 55px;
	text-align: center;
	color: rgb(255, 145, 77);
	appearance: none;
	border: none;
       background-color: transparent;

}
/******************여기부터아직스타일정리X***********************/



/**********************************************************
	입력양식 내용 영역 (#recipe-enroll-context-wrap내부)
**********************************************************/
/* 1. 입력폼 내부 상단 div (썸네일 + 제목 + 재료입력) */
/* 여백 영역 */
#enroll-form-blank1 {
	width: 100%;
	height: 2%;
}

/* 좌우 큰 div */
#cook-steps-basic-info .cook-steps-input-content {
	width: 50%;
	height: 100%;
	float: left;
	text-align: center;
}

#cook-steps-basic-info .cook-steps-inner {
	width: 100%;
}

/* --- 좌측 --- */
/* 썸네일 div */
#content-thumbnail-image {
	width: 100%;
	height: 79%;
	background-color: rgb(255, 222, 89);
}

/* 썸네일 이미지 */
#content-thumbnail-image img {
	width: 570px;
	height: 570px;
	padding-top: 20px;
}

/* 셰프이름 + 해시태그 div */
#content-writer-hashtag {
	width: 100%;
	height: 21%;
}

/* 셰프이름 */
#cook-steps-chef {
	height: 40%;
}

#cook-steps-chef > p {
	margin: 0px;
	margin-top: 12px;
	font-size: 20px;
	font-weight: 1000;
	color: rgb(132, 137, 143);
}

/* 해시태그 */
#cook-steps-hashtag {
	height: 60%;
}

#cook-steps-hashtag label {
	float: left;
	position: relative;
	left: 50px;
}

#cook-steps-hashtag select {
	width: 90%;
	height: 50%;
	border-radius: 50px;
	border-color: rgb(255, 145, 77);
}
#cook-steps-hashtag option {
	font-size: 25px;
}

#cook-steps-hashtag option:disabled {
	display: none;
}

/* --- 우측 --- */
/* 제목 입력칸 (textarea) */
#cook-steps-title {
	height: 21%;
}

#title-text-area-div {
	width: 100%;
	height: 100%;
}

#cook-steps-title > div > textarea {
	width: 420px;
	height: 105px;
	resize: none;
	text-align: center;
	border-radius: 10px;
	padding : 10px 100px 10px 50px;
	margin: auto;
	position: absolute;
	top: 100px;
	right: 90px;
}

#cook-steps-title > div > textarea::placeholder {
	padding-top: 30px;
	text-align: center;
}

#cook-steps-title > #title-bytes-span {
	display: inline-block;
	font-size: 2px;
	z-index: 1;
	position: absolute;
	top: 172px;
	right: 100px;
}


/* 재료 타이틀 (재료 입력 및 추가하는 부분) */
#cook-steps-ingredient-title {
	height: 9%;
}

#cook-steps-ingredient-title div {
	height: 100%;
	float: left;
}

#ingredient-title-div1 {
	width: 90%;
}

#write-ingredient-input {
	width: 62%;
	height: 100%;
}

#amount-ingredient-input {
	width: 18%;
	height: 100%;
}

#measurement-ingredient-selection {
	width: 20%;
	height: 100%;
}

#ingredient-title-div1 input {
	font-size: 20px;
	text-align: center;
	padding: 2px;
}

#ingredient-title-div1 select {
	text-align: center;
	padding: 0px;
	padding-left: 30px;
}

#ingredient-title-div1 input, #ingredient-title-div1 select {
	width: 100%;
	height: 100%;
}

#ingredient-title-div2 {
	width: 10%;
	padding-top: 7px;
	padding-right: 10px;
}

#ingredient-title-btn {
	font-size: 40px;
	padding: 0px;
	margin-top: 2px;
	appearance: none;
	border: none;
	background-color: transparent;
	color: rgb(89, 164, 255);
	float: right;
}

#ingredient-title-btn:hover {
	color: rgb(59, 134, 225);
}

/* 재료 콘텐트 (입력요소 생성해서 띄우는 부분) */
#cookStepsIngredientContent {
	height: 70%;
}

#ingredientContentLeft, #ingredientContentRight {
	width: 50%;
	height: 100%;
	float: left;
}


#cookStepsIngredientContent .ingredientContainer {
	width: 100%;
	height: 34px;
}

#cookStepsIngredientContent .ingredientContainer div {
	height: 100%;
	float: left;
}

div[id ^= 'ingredientAreaDiv'] {
	width: 55%;
}

div[id ^= 'ingredientAmountDiv'] {
	width: 20%;
}

div[id ^= measureAreaDiv] {
	width: 15%;
}

div[id ^= delIngBtnDiv] {
	width: 10%;
}

#cookStepsIngredientContent input, select {
	width: 100%;
	height: 100%;
	padding: 0px;
	font-size: 12px;
	text-align: center;
	appearance: none;
}

.ingMeasure {
	font-size: 12px;
}

#cookStepsIngredientContent input::placeholder, select::placeholder {
	text-align: center;
}

.modify-btn {
	font-size: 20px;
	padding: 5px 5px 0px 0px;
	appearance: none;
	border: none;
	background-color: transparent;
	color: rgb(227, 113, 113);
	float: right;
}





/*2. 입력폼 내부 중단 div (과정사진 + 제목 + 내용) */
/* 넘버링 + 요리과정 제목 */
#cookingInstructionContainer > div {
	width: 50%;
	height: 33%;
	margin: auto;
	float: left;
}

#cookingInstructionContainer .cook-steps-inst-pic {
	width: 100%;
	height: 35%;
	padding-left: 30px;
}

#cookingInstructionContainer .cook-steps-inst-pic img {
	height: 100%;
	height: 100%;
}

#cookingInstructionContainer .cook-steps-inst-title {
	width: 100%;
	height: 15%;
	padding: 10px 15px 15px 15px;
}

#cookingInstructionContainer .inst-title-lev {
	width: 10%;
	height: 100%;
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	margin: 0px;
	padding-top: 10px;
	padding-right: 10px;
}

#cookingInstructionContainer .inst-title-text {
	width: 80%;
	height: 100%;
	box-sizing: border-box;
	padding: 0px;
	text-align: center;
}

#cookingInstructionContainer button[id^='delCookSteps'] {
	font-size: 35px;
	width: 10%;
	height: 100%;
	padding: 0px;
	box-sizing: border-box;
	float: right;
}

/* 요리과정 설명 */
#cookingInstructionContainer .cook-steps-inst-content {
	width: 100%;
	height: 50%;
	padding: 10px 30px 10px 30px;
}

#cookingInstructionContainer .cook-steps-inst-content textarea {
	width: 100%;
	height: 100%;
	resize: none;
}

#cookingInstructionContainer .cook-steps-inst-content textarea::placeholder {
	text-align: center;
}

#instAddBtn {
	font-size: 120px;
	padding: 0px;
	margin-top: 147px;
	margin-left: 237px;
	appearance: none;
	border: none;
	background-color: transparent;
	color: rgb(89, 164, 255);
}


/* 3. 입력폼 내부 하단 div (submit + reset 버튼) */
#cook-steps-buttons {

}



	

/**********지울부분***************************************/
table td { border: 1px solid black }


